@import url("https://fonts.googleapis.com/css2?family=Poppins,wght@1,300&display=swap");

* {
  text-decoration: none;
}

body {
  background-color: #0c0c0c;
}

p {
  all: unset;
}



#select-curso {
  width: 96.5%;
  color: #676767;
  font-weight: 400;
}

.disciplina-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.disciplina-container .disciplina-cadastro {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  border-radius: 20px;
  border: 1px solid #FECC00;
}

.disciplina-container .disciplina-cadastro h1 {
  color: aliceblue;
  font-size: 25px;
  font-weight: 500;
  padding: 2rem;
}

.disciplina-container .disciplina-cadastro .formulario {}

.disciplina-container .disciplina-cadastro .formulario .imputs {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
}

.disciplina-container .disciplina-cadastro .formulario .imputs input {
  width: 100%;
  width: 276.56px;
  height: 43.863px;
  border: none;
  border-radius: 14px;
  background: #2B2B2B;
}

.disciplina-container .disciplina-cadastro .formulario .imputs select {
  width: 100%;
  width: 276.56px;
  height: 43.863px;
  border: none;
  border-radius: 14px;
  color: #676767;
  background: #2B2B2B;
}

.disciplina-container .disciplina-cadastro .formulario .imputs button {
  background-color: #FECC00;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.disciplina-container .disciplina-cadastro .formulario .imputs button:active {
  transform: scale(0.9);
}