@media screen and (max-width: 550px) {
    .monitor-extreno {
        width: 80vw;
        font-size: 12px;
    }

    .monitor-extreno .itens {
        justify-content: center;
        gap: 2vw;

    }

    .monitor-extreno .icon {
        font-size: 19px;
        margin: 0 2vw;
    }

    .monitor-extreno .itens .itens-direita {
        gap: 2vw;
    }

    .estrelas .star,
    .estrelas .filled {
        font-size: 12px;
        /* Substitua pelo tamanho desejado */
    }
}