.monitoria-form-titulo {
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 25px;
  font-weight: 600;
}

.monitoria-form-wrapper .monitoria {
  color: #fecc00;
}

.monitoria-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.monitoria-form-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.monitoria-form-campo-2 {
  width: 46%;
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}

.monitoria-form-campo-3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}

.monitoria-form-form input,
textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  color: #ffffff;
  border-radius: 2rem;
  border: 2px solid #fecc00;
  background-color: #121212;
  box-sizing: border-box;
}

.monitoria-form-container select {
  width: 100%;
  padding: 0.7rem 1rem;

  color: #ffffff;
  border-radius: 100px;
  border: 2px solid #fecc00;
  background-color: #121212;
  box-sizing: border-box;
}

.monitoria-form-container option {
  color: #ffffff;
}

.monitoria-form-campo-2 label {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.monitoria-form-campo-3 label {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.monitoria-form-form input:focus {
  outline: 0;
}

.monitoria-form-form textarea:focus {
  outline: 0;
}

.monitoria-form-form input::placeholder {
  font-size: 14px;
  color: #424242;
  font-weight: 500;
}

.monitoria-form-form select:focus {
  outline: 0;
}

#textoMonitoria {
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona reticências (...) ao texto se ele estiver cortado */
  white-space: wrap;
  height: 6rem;
  resize: none;
  border-radius: 1.5rem;
  text-align: justify;
}

.monitoria-form-botao {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.monitoria-form-botao-confirmar,
.monitoria-form-botao-cancelar {
  padding: 0.5rem 0;
  width: 10rem;
  font-size: 1rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #fecc00;
  font-weight: bold;
  color: #121212;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.monitoria-form-botao-confirmar:hover {
  transform: scale(1.05);
}

.monitoria-form-botao-cancelar:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .monitoria-form-form {
    flex-direction: column;
    align-items: center;
  }

  .monitoria-form-campo-2 {
    width: 100%;
  }

  .monitoria-form-campo-3 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .monitoria-form-wrapper {
    margin: 5% 0;
  }
}

@media (max-width: 600px) {
  .monitoria-form-botao {
    flex-direction: column;
    width: 100%;
  }

  .monitoria-form-botao {
    align-items: center;
  }

  .monitoria-form-botao-confirmar,
  .monitoria-form-botao-cancelar {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .monitoria-form-wrapper {
    margin: 10% 0;
  }
}
