.lista-botoes {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.lista-botoes::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.lista-botoes::-webkit-scrollbar-thumb {
  background-color: #FECC00;
  border-radius: 10px;
}

.div-botao {
  display: flex;
  align-items: left;

  color: #ffffff;

  background-color: #121212;
  border-radius: 10px;
  padding: 20px;

  width: 400px;
  height: 60px;
  margin-bottom: 10px;
}

.div-externa {
  display: flex;
  align-items: center;

  color: #ffffff;

  background-color: #121212;
  border-radius: 10px;
  padding: 20px;

  width: 450px;
  height: 100px;
}

.div-interna {
  background-color: #FECC00;
  padding: 1px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-right: 3vh;
}

.listarDisciplina-botao {
  display: flex;
  justify-content: center
}

.listarDisciplina-botao a {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 20%;
  height: 20px;
  padding: 20px;

  font-size: 19px;
  font-stretch: bold;

  border-radius: 25px;
  border: 6px solid #fecc00;
  background-color: #fecc00;

  line-height: 10%;
  font-weight: bold;

  color: #121212;

  cursor: pointer;
}

.listarDisciplina-botao a:hover {
  border: 6px solid #866c00;;
}