.listar-paluno-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  background: #121212;
  color: #ffffff;
}

.listar-paluno-titulo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fecc00;
  margin-bottom: 12px;
}

.listar-paluno-horario {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  color: #ffffff;
}

.listar-paluno-horario {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: #ffffff;
}

.listar-paluno-botao {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #ffffff;

  background-color: #121212;
  width: 90%;
}

.listar-paluno-wrapper p {
  text-align: justify;
  font-size: 15px;
  color: #ffffff;
}

.listar-paluno-wrapper h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.listar-paluno-botao-editar {
  display: flex;
  width: 70px;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-right: 20px;

  background-color: #fecc00;
  border-radius: 10px;

  color: #0c0c0c;
  cursor: pointer;
  font-weight: bold;
}

.listar-paluno-botao-deletar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  background-color: #fecc00;
  border-radius: 10px;

  color: #0c0c0c;
  cursor: pointer;
  font-weight: bold;
}
