.logoHeader {
  width: 150px;
}

@media screen and (max-width: 480px) {
  .botao-voltar {
    display: none;
  }
}

.header-teste {
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #ffffff17;
}