.logoHeader {
  width: 150px;
}

@media screen and (max-width: 480px) {
  .botao-voltar {
    display: none;
  }
}

.header-teste {
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  background: #0c0c0c66;
  backdrop-filter: blur(2px);
}