.perfil-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 12% 0;
}

.perfil-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #121212;
  border: 0.1rem solid #FECC00;
  border-radius: 1.5rem;
  width: 60%;
  padding: 4rem 0;
}

.perfil-card-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.perfil-card-esquerda-foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-card-esquerda-foto-padrao {
  padding: 1rem;
  border: 0.4rem solid #FECC00;
  border-radius: 50%;
}

.perfil-card-esquerda-informacoes {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.perfil-card-esquerda-informacoes-sub {
  color: #FFFFFF;
  font-size: 0.8rem;
}

.perfil-card-direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2rem;
}

.perfil-card-direita-campos {
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0;
  width: 100%;
}

.perfil-card-direita-campos label {
  color: #FECC00;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.7rem;
}

.perfil-card-direita-campos input {
  padding: 1rem 2rem;
  border: 0;
  border-radius: 1rem;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #2B2B2B;
}

.perfil-card-direita-botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.perfil-card-direita-botoes a {
  width: 45%;
}

.perfil-card-direita-botoes button {
  width: 100%;
  padding: 0.8rem 0;
  border: 0;
  border-radius: 1rem;
  background-color: #FECC00;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #121212;
  transition: transform 0.2s ease;
}

.perfil-card-direita-botoes button:hover {
  transform: scale(1.05);
}

@media (max-width: 1120px) {
  .perfil-card {
    flex-direction: column;
  }

  .perfil-card-esquerda {
    margin-right: 0;
    width: 100%;
  }

  .perfil-card-direita {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .perfil-card-direita-campos {
    width: 80%;
  }

  .perfil-card-direita-botoes {
    width: 80%;
  }

  .perfil-card-direita-campos input {
    padding: 1rem 1rem;
  }
}

@media (max-width: 900px) {
  .perfil-container {
    margin-top: 14%;
  }
}

@media (max-width: 560px) {
  .perfil-container {
    margin-top: 20%;
  }

  .perfil-card-esquerda-foto-padrao {
    width: 5rem;
    height: 5rem;
  }

  .perfil-card-esquerda-informacoes {
    font-size: 1rem;
  }

  .perfil-card-direita-campos label {
    font-size: 0.8rem;
  }

  .perfil-card-direita-campos input {
    font-size: 0.8rem;
  }

  .perfil-card-direita-botoes button {
    font-size: 0.8rem;
  }
}